/********************
YOUR STYLES
*******************/
article, a {
  max-height: 100%;
  overflow: hidden;
  background: yellow;
  padding: 20px;
}

body {
  width: 50%;
  margin: auto;
  padding: 30px;
}

h1 {
  font-family: sans-serif;
  color: cornflowerblue;
  background: lightyellow;
  padding: 20px;
  border: 3px black solid;
  border-radius: 5%;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}